<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bloggy</title>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>
	<h1>Bloggy</h1>

	

	<div class="wrapper">

		<%- include('../partials/testAuth.ejs'); %>

		<%- include('../partials/nav.ejs'); %>

		<span class="goUpBtn"></span>

		<div class="createBtn">
			<h2>Write a Post</h2>
			<textarea class="title" placeholder="Title">title</textarea><br>
			<textarea class="body" placeholder="ENTER YOUR BRAIN IDEA">body</textarea>
			<button class="submitPost">Submit Post</button>

		</div>
	

		<div class="outerRecentPosts">
			<h1 class="h1">Recent Posts</h1>
			<div class="innerRecentPosts">

				<% posts.forEach(function(r) {%>

					<p> <%= r.title %> </p><br>
					<p> <%= r.body %> </p>
				<% }); %>

				
			</div>
		</div>

		<div class="outerOldPosts">
			<h1 class="h1">Old Posts</h1>
			<div class="innerOldPosts">
				<p>
					This is an old post. This is an old post.This is an old post.
					This is an old post.This is an old post.This is an old post.
					This is an old post.This is an old post.This is an old post.
					This is an old post.This is an old post.This is an old post.
				</p>
			</div>
		</div>

		<div class="footer">

			<%- include('../partials/footerNav.ejs'); %>

		</div>

	</div>

	<!-- <script src="/js/logTask.js"></script> -->
	<script>

		let title = document.querySelector('.title');
		let body = document.querySelector('.body');
		let submitPostBtn = document.querySelector('.submitPost');

		console.log(title.value + "   "  + body.value);

// logic to insert post
const taskThatIShallComplete = async function() {
	const response = await fetch('/log', {
		method: 'POST',
		headers: {
			'Accept': 'application/json',
			'Content-Type': 'application/json'
		},
		body: JSON.stringify({
			// posts_id: 1,
			title: "'" + title.value + "'",
			body: "'" + body.value + "'"
		})
	});
	const result = await response.json();
	console.log(result);
	// currentTaskId = id;


};

submitPostBtn.addEventListener('click', function(e){

	e.preventDefault();
	 
	taskThatIShallComplete();
	
});



</script>

</body>
</html>