<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs'); %>
<body>
	<h1>Bloggy</h1>

	<div class="wrapper">

		<%- include('../partials/testAuth.ejs'); %>

		<%- include('../partials/nav.ejs'); %>

		<% if (authenticated) {%>
		<div class="postsForm">
			<h2>Write a Post</h2>
			<textarea class="titleTxtForm" name="titlePost" placeholder="Title" maxlength="58"></textarea>
			<br>
			<textarea class="bodyTxtForm" name="bodyPost" placeholder="ENTER YOUR BRAIN IDEA" maxlength="1022"></textarea>
			
			<button class="submitPost">Submit Post</button>
			<p class="errMsg"></p>
		</div>
		<% } %>

		<div class="dailyTopic">

		</div>

		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
		
		<div class="outerRecentPosts">
			<h1 class="h1">Recent Posts</h1>
			<div class="innerRecentPosts">

				<% if (!authenticated) {%>
					<div class="postWrapper">
						<p class="postTitle"> Hello There! </p>
						<p class="postBody"> Welcome to Bloggy! </p>
					</div>

				<% } else {%>

					<% posts.forEach(function(r) {%>
					
					<div class="postWrapper">
						<p class="postTitle"> <%= r.title %> </p>
						<p class="postBody"> <%= r.body %> </p>
						<button id="<%= r.id %>"onClick = "javascript:deletePost('<%= r.postsid %>');">Delete Post</button>
						<br>
					</div>

					<% }); %>

				<% } %>

			</div>
		</div>

		<div class="outerOldPosts">
			<h1 class="h1">Old Posts</h1>
			<div class="innerOldPosts">
				<p>
					This is an old post. This is an old post. This is an old post. 
					This is an old post. This is an old post. This is an old post. 
					This is an old post. This is an old post. This is an old post. 
					This is an old post. This is an old post. This is an old post. 
				</p>
			</div>
		</div>

		<div class="footer">

			<%- include('../partials/footerNav.ejs'); %>

		</div>

	</div>

	<% if(authenticated) {%>
	<script src="/js/post.js"></script>
	<script src="/js/deletePost.js"></script>
	<% } %>

	<script src="/js/toTheTop.js"></script>

</body>
</html>