<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs'); %>
<body>
	<h1 class='title'>Bloggy</h1>

	<div class="wrapper">
		<%- include('../partials/testAuth.ejs'); %>
		<%- include('../partials/nav.ejs'); %>

		<%- include('../partials/dailyTopics.ejs'); %>

		<% if (authenticated) {%>

		<button id="showPostForm">Create a Post</button>

		<div class="postsForm">
			<h2>Write a Post</h2>
			<textarea class="titleTxtForm" name="titlePost" placeholder="Title" maxlength="255"><%= todaysTopic %></textarea>
			<br>
			<textarea class="bodyTxtForm" name="bodyPost" placeholder="ENTER YOUR BRAIN IDEA" maxlength="500"></textarea>
			
			<button class="submitPost">Submit Post</button>
			<p class="errMsg"></p>
			<p id="charsLeft">255</p>
		</div>
		<% } %>

		<div class="dailyTopic">

		</div>
		
		<div class="outerRecentPosts">
			<h1 class="h1">Recent Posts</h1>
			<div class="innerRecentPosts">

				<% if (!authenticated) {%>
					<div class="postWrapper">
						<p class="postTitle"> Hello There! </p>
						<p class="postBody"> Welcome to Bloggy! </p>
					</div>

				<% } else {%>

					<% posts.forEach(function(r) {%>
					
					<div class="postWrapper">
						<p class="postTitle"> <%= r.title %> </p>
						<p class="postBody"> <%= r.body %> </p>
						<button class="deleteButton" id="<%= r.id %>"onClick = "javascript:deletePost('<%= r.postsid %>');">Delete Post</button>
						<br>
					</div>

					<% }); %>

				<% } %>

			</div>
		</div>

		<% if (authenticated) {%>
			<div class="outerOldPosts">
				<h1 class="h1">Your Posts</h1>
				<div class="innerOldPosts">
				<% yourPosts.forEach(function(r) {%>
					<div class="postWrapper">
						<p class="postTitle"> <%= r.title %> </p>
						<p class="postBody"> <%= r.body %> </p>
						<button id="<%= r.id %>"onClick = "javascript:deletePost('<%= r.postsid %>');">Delete Post</button>
					</div>
				<% }); %>
				</div>
			</div>
			<% } %>

		<div class="footer">

			<%- include('../partials/footerNav.ejs'); %>

		</div>

	</div>

	<% if(authenticated) {%>
	<script src="/js/post.js"></script>
	<script src="/js/deletePost.js"></script>
	<script src="/js/showPostForm.js"></script>
	<% } %>

	<script src="/js/utils.js"></script>

</body>
</html>