<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs'); %>
<body>
	<h1>Bloggy</h1>

	<div class="wrapper">
		<%- include('../partials/testAuth.ejs'); %>
		<%- include('../partials/nav.ejs'); %>
		

		<div class="profileInfo">

			<% if (!authenticated) {%>

			<p>Please Log in or create an account.</p>

			<% } else { %>

				<% if(hkUser) {%>
			<img src="<%= user.picture %>" />
					<% hkUser.forEach(function(r) {
							%>
			<br>
			<p>Email: <%= r.userid %></p>
			<br>
			<p>Username: <%= r.username %></p>
			<br>
			<p>First Name: <%= r.firstname %></p>
			<br>
			<p>Last Name: <%= r.lastname %></p>

							<%
					}); %>
				<% } %>
				
			<% } %>
		</div>

		<div class="footer">
			<%- include('../partials/footerNav.ejs'); %>
		</div>
	</div>

	<script src="/js/utils.js"></script>
</body>
</html>