<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs'); %>
</head>
<body>
	<h1>Bloggy</h1>

	<div class="wrapper">

		<%- include('../partials/testAuth.ejs'); %>

		<%- include('../partials/nav.ejs'); %>

		<span class="goUpBtn"></span>

		<div class="profileInfo">

			<% if (!authenticated) {%>

				<p>Please Log in or create an account.</p>

			<% } else { %>

				<% if(user) {%>
					<img src="<%= user.picture %>"" />
					<br>
					<%= user.name %>
					<br>
					<%= user.email %>
				<% } %>
				
			<% } %>
		</div>

		<div class="footer">
			<%- include('../partials/footerNav.ejs'); %>
		</div>
</body>
</html>