<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs'); %>
</head>
<body>
	<h1>Bloggy</h1>

	<div class="wrapper">

		<%- include('../partials/testAuth.ejs'); %>

		<%- include('../partials/nav.ejs'); %>

		<span class="goUpBtn"></span>

		<!-- <h3>Enter new Blog</h3>
		<div class="enterTextDiv" id="blogText">
		
			<form class="blogText", placeholder="What's on your mind?", action="profile" method="POST">
				<input type="text", placeholder="Title of Blog">
				<input type="text", placeholder="What's on your mind?", id="textForm">
				<input type="submit">
			</form>
		</div> -->

		<div class="profileInfo">

			<% if (!authenticated) {%>

				<p>Please Log in or create an account.</p>

			<% } else { %>

				<% if(user) {%>
					<img src="<%= user.picture %>"" />
					<br>
					<%= user.name %>
					<br>
					<%= user.email %>
				<% } %>
				
			<% } %>
		</div>

		<div class="footer">

			<%- include('../partials/footerNav.ejs'); %>

		</div>

		<script src="/js/logTask.js"></script>

</body>
</html>